<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Directors</title>
  </head>
  <body>

    <header>
      <a href="movies">
        <button type="button" name="movies">Movies</button>
      </a>
      <a href="actors">
        <button type="button" name="actors">Actors</button>
      </a>
      <a href="directors">
        <button type="button" name="directors">Directors</button>
      </a>
    </header>
    <h1>Directors</h1>
    {{#each directors}}
      <h2>{{first_name}} {{last_name}}</h2>
      <h3>{{title}}</h3>
    {{/each}}
  </body>
</html>
